body {
    margin: 0px;
}

.navMenu {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
}

.mainContent {
    margin-left: 300px;
}