.logo {
    width: 100%;
    margin: 30px 0px 30px 0px;
    text-align: center;
}

.navItem {
    margin-bottom: 40px;
    text-align: center;
}

.navSubItem {
    margin-top: 30px;
    text-align: center;
}

a:hover {
    color: #999;
}

.navItemLink {
    font-family: Mona Lisa Solid ITC TT;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
}

.navItemSubLink {
    font-family: Mona Lisa Solid ITC TT;
    color: #666;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 1px;
}

.chevronIcon {
    float: right;
    color: #FFF;
}

.hideNavItem {
    display: none;
}

.active {
    color: #999;
}